@CHARSET "UTF-8";
#my117 {
  position:absolute;
  left:279px;
  top:440px;
  width:200px;
}

#my118 {
  position:absolute;
  left:508px;
  top:440px;
  width:400px;
}

#showdata {
	position: absolute;
	left: 270px;
	top: 389px;
	width: 800px;
	height: 400px;
}

#addprice
{
	position: absolute;
	left: 270px;
	top: 389px;
	width: 800px;
	height: 400px;
}
