#custable {
	position: absolute;
	left: 240px;
	top: 400px;
	width: 980px;	
	text-align: center;
	border:2px solid #cccccc;
}
#custable th{
	background-color: #87CEFA;
	border:1px solid #cccccc;
	width: 85px;
}
#custable td{
	border:1px solid #cccccc;
}

#return_select{
	position: absolute;
	top: 325px;
	left: 260px;
}
#certain_new{
	position:absolute;
	top: 1655px;
	left: 1000px;
}
#show_message{
	position: absolute;
	top: 325px;
	left: 360px;
	width: 120px;
	height: 40px;
	blackground-color: yellow;
}